body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-image: linear-gradient(to right, rgba(11, 8, 182, 0.836), rgb(50, 2, 88));
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

h1 {
  padding-left: 300px;
}

/* Search form */
.search {
  display: table;
}

#city-input {
  padding: 0.5rem 65px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#search-button {
  display: block;
  background-color: rgba(76, 76, 228, 0.671);
  color: #ffffff;
  padding: 5px 129px;
  border: 1px solid rgba(250, 249, 249, 0.897);
  border-radius: 4px;
  margin-top: 10px;
}

/* Main content */
main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 150px;
}

/* Current weather and forecast */
.current-weather {
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.weather-icon {
  width: 30px; /* Set the width of the weather icon */
  height: 30px; /* Set the height of the weather icon */
}

.forecast {
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Add this to your CSS */
.forecast-item {
  background-color: #181830d0;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.8rem; /* Adjust the margin as needed */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: inline-block; /* or display: flex; */
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Search history */
.search-history {
  text-align: center;
  border-top: 3px solid rgb(211, 210, 210);
  max-width: 300px;
  margin-top: 1.5rem;
}

/* Styling for the forecast entry title */
.forecast-entry h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Styling for the forecast entry paragraphs */
.forecast-entry p {
  margin: 5px 0;
}

.search-history-button {
  display: block;
  width: 100%;
  background-color: #212421d7;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}